.container {
    max-width: 100%;
    max-height: 100%;
  }
  
  .container-fluid {
  }
  
  .dropdown {
    margin: 10px;
  }
  
  .navbar {
    background-color: rgb(249, 249, 249);
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-right {
    float: right; 
  }
  
  .btn-primary {
    color: white;
    background-color: forestgreen;
    display: inline-block;
  }

  ion-icon {
    color: white;
  }

  .views {
    color: white;
  }

  .row-1 row-2 row-3{
    
  }

  .col-3 {
    background-color: white;
  }

  .img-thumbnail {
    width: 250px;
    height: 250px;
    margin: 5px;
  }
  